:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --orange-color: #F27D00;

  --background-background-color: #ffffff;
  background-color: var(--background-background-color);
  --green-color: #A6D6C9;
  --font-color: #000000;
  --background-color: #eeeeee;
  --button-background-color: #e7e7e7;
  --yellow-color: #F7D117;
  /* background-color: #242424;
  --green-color: #4e7e71;
  --font-color: white;
  --background-color: #1a1a1a;
  --yellow-color: #F7D117;
  --button-background-color: #868686; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

b:hover {
  color: #F27D00
}

body {
  margin: 0;
  display: flex;
  overflow: hidden;
}




